body{
  background:#111;
  color:#fff;
  font-family:Arial;
  margin:0
}
.app{
  max-width:1100px;
  margin:auto;
  padding:10px
}
#mapContainer{
  position:relative
}
#mapImg{
  width:100%
}
#pinsLayer{
  position:absolute;
  inset:0
}
.pin{
  position:absolute;
  transform:translate(-50%,-100%);
  padding:4px 6px;
  border-radius:6px;
  font-weight:700
}
.timerrow{
  display:flex;
  justify-content:space-between;
  background:#222;
  padding:6px;
  border-radius:6px;
  margin-bottom:5px
}
@keyframes blink{
  0%{opacity:1}
  50%{opacity:.3}
  100%{opacity:1}
}
.blink{
  animation:blink 1s infinite
}
